<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" data-assets-path="../form/">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{{ .title }}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/form/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/form/vendor/fonts/boxicons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="/form/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/form/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/form/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/form/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="/form/vendor/css/pages/page-auth.css" />
    <!-- Custom CSS Form -->
    <link rel="stylesheet" href="/form/css/custom.css" />
    <script src="/form/vendor/js/helpers.js"></script>
    <script src="/form/js/config.js"></script>
</head>

<body>    
    <!-- Content -->
    {{ if .message }}
    <div class="toastDanger">
        <div class="toastDanger-content menu align-items-center">
            <i class="menu-icon tf-icons bx bx-x menu align-items-center justify-content-center"
                style="height: 24px; width: 24px;"></i>
            <div class="message menu flex-column">
                <span class="text text-title">Gagal Masuk!</span>
                <span class="text text-desc">{{ .message }}</span>
            </div>
            <button type="button" class="btn-close" aria-label="Close" style="color: #666;"></button>
            <div class="progress"></div>
        </div>
    </div>
    {{ end }}
    {{ if .registered }}
    <div class="toastSuccess">
        <div class="toastSuccess-content menu align-items-center">
            <i class="menu-icon tf-icons bx bx-check menu align-items-center justify-content-center" style="height: 24px; width: 24px;"></i>
            <div class="message menu flex-column">
                <span class="text text-title">Sukses</span>
                <span class="text text-desc">{{ .registered }}</span>
            </div>
            <button type="button" class="btn-close" aria-label="Close" style="color: #666;"></button>
            <div class="progress"></div>
        </div>
    </div>
    {{ end }}
    <!-- Content -->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Login -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="/" class="app-brand-link gap-2">
                                <span class="app-brand-text demo text-body fw-bolder">SmartSign</span>
                            </a>
                        </div>

                        <form id="formAuthentication" class="mb-3" action="/login" method="POST">
                            <div class="mb-3">
                                <label for="idsignature" class="form-label">ID Signature</label>
                                <input type="text" class="form-control" id="idsignature" name="idsignature"
                                    placeholder="Masukan id signature" autofocus />
                                {{ range $formErr := .errorVal }}
                                    {{ if (eq $formErr.Field "IdSignature") }}  
                                        <p class="mt-1" style="color: red; font-size: 1vw;">{{ $formErr.Message }}</p>
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                    <!-- <a href="/forgot-password">
                                        <small>Lupa Password?</small>
                                    </a> -->
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                                {{ range $formErr := .errorVal }}
                                    {{ if (eq $formErr.Field "Password") }}  
                                    <p class="mt-1" style="color: red; font-size: 1vw;">{{ $formErr.Message }}</p>
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Ingatkan Saya </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Masuk</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>Belum memiliki Akun?</span>
                            <a href="/register">
                                <span>daftar sekarang</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /End Login -->
            </div>
        </div>
    </div>
    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/form/vendor/libs/jquery/jquery.js"></script>
    <script src="/form/vendor/libs/popper/popper.js"></script>
    <script src="/form/vendor/js/bootstrap.js"></script>
    <script src="/form/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/form/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Main JS -->
    <script src="/form/js/main.js"></script>
    <script src="/form/js/custom.js"></script>
</body>

</html>