<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/dash/assets/images/favicon.png">
    <title>{{ .title }}</title>
    <link href="/dash/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(/dash/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row justify-content-center">
                <!-- <div class="col-lg-56 col-md-4 modal-bg-img" style="background-image: url(/dash/assets/images/big/3.jpg);">
                </div> -->
                <div class="col-lg-8 col-md-8 bg-white">
                    <div class="p-4">
                        <div class="text-center">
                            <img src="/dash/assets/images/big/icon.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Daftar</h2>
                        <p class="text-center">Masukan data anda untuk memulai menggunakan Smartsign.</p>
                        <!-- Register Form -->
                        <form class="mt-4" id="formAuthentication" action="/register" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="idsignature">ID Signature</label>
                                        <input class="form-control" id="idsignature" name="idsignature" type="text"
                                            placeholder="enter your id signature" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="name">Nama</label>
                                        <input class="form-control" id="name" name="name" type="text"
                                            placeholder="enter your name" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="text-dark" for="email">Email</label>
                                            <input class="form-control" id="email" name="email" type="email"
                                                placeholder="email" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="text-dark" for="phone">Nomor Telepon</label>
                                            <input class="form-control" id="phone" name="phone" type="text"
                                                placeholder="phone number" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <label class="text-dark" for="file">Kartu Identitas</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Identity Card</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file" name="file">
                                            <label class="custom-file-label" for="file">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="password">Kata Sandi</label>
                                        <input class="form-control" id="password" name="password" type="password"
                                            placeholder="enter your password" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="text-dark" for="cpassword">Konfirmasi Kata Sandi</label>
                                        <input class="form-control" id="cpassword" name="cpassword" type="password"
                                            placeholder="enter your confirm password" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Mulai</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Anda Sudah Punya akun? <a href="/login" class="text-danger">Masuk sekarang</a>
                                </div>
                            </div>
                        </form>
                        <!-- End Register Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dash/assets/libs/jquery/dist/jquery.min.js "></script>
    <script src="/dash/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/dash/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <script>
        $(".preloader ").fadeOut();
    </script>
</body>

</html>