{{ define "content" }}
<style>
  @media(max-width: 600px) {
    .mod-sign {
      padding: 15px 30px !important;
    }
    .mod-sign h4 {
      font-size: 3.5vw !important;
    }
    .mod-sign p {
      font-size: 3vw !important;
    }
    .mod-sign a {
      font-size: 3vw !important;
    }
  }
</style>

<main id="main">
  <section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Dashboard</li>
      </ol>
      <h2>Dashboard</h2>

    </div>
  </section>
  <!-- ======= Values Section ======= -->
  <section id="values" class="values mt-3">
    <div class="container">
      <!-- <header class="section-header">
          <p>Dashboard</p>
          <h4 class="text-justify"><br/>Hai, selamat datang Rizqi !</h4>
        </header> -->
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <a href="/my-signatures">
            <div class="box">
              <img src="/landing/assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Tanda Tangan Saya</h3>
              <p class="text-dark">Tambahkan dan lihat daftar tanda tangan apa saja yang saya miliki dan dapat
                digunakan.</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <!-- <a> -->
          <div id="myBtn" class="box btn" id="btn-modal" style="border: none;">
            <img src="/landing/assets/img/values-2.png" class="img-fluid" alt="">
            <h3>Tanda Tangan Dokumen</h3>
            <p class="text-dark">Tanda tangan dokumen saya dan undang seseorang untuk menandatangani dokumen saya.</p>
          </div>
          <!-- </a> -->
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <a href="/request-signatures">
            <div class="box">
              <img src="/landing/assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Permintaan Tanda Tangan</h3>
              <p class="text-dark">Permintaan tanda tangan dari orang lain kepada saya.</p>
            </div>
          </a>
        </div>

      </div>

    </div>

  </section>
  <!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="{{ .card.TotalUser }}" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Pengguna</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="{{ .card.TotalTx }}" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Transaksi</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="{{ .card.TotalRequest }}" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Tanda Tangan</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="{{ .card.TotalRequestUser }}" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Permintaan Saya</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Counts Section -->
  <!-- Modal -->
  <div id="myModal" class="modal modal-lg" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 id="myModalHeader" class="modal-title">Tanda Tangan Dokumen</h5>
          <span aria-hidden="true" class="close">×</span>
        </div>
        <div class="modal-body">
          <!-- <h3>Tanda Tangan Dokumen</h3> -->
          <div class="row gy-4 services justify-content-md-center">
            <div class="col-6 col-sm-6 mb-4 mt-4">
              <div class="service-box blue mod-sign">
                <i class="ri-draft-fill icon"></i>
                <h4>Tanda Tangan Sekarang</h4>
                <p>Tanda tangan dan minta pengguna lain untuk menandatangani dokumen. </p>
                <a href="/sign-documents" class="read-more"><span>Tanda Tangan</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-4 mt-4">
              <div class="service-box green mod-sign">
                <i class="ri-mail-send-fill icon"></i>
                <h4>Permintaan Tanda Tangan</h4>
                <p>Permintaan tanda tangan dari pengguna lain untuk anda tanda tangani. </p>
                <a href="/invite-signatures" class="read-more"><span>Tanda Tangan</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</main>
<!-- End #main -->
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function () {
  modal.style.display = "block";
};
span.onclick = function () {
  modal.style.display = "none";
};
window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};
</script>
{{ end }}