{{ define "content" }}
<style>
  #signature-pad {
    display: block;
    min-height: 200px;
  }

  #signature-pad canvas {
    position: absolute;
    border: 1px dashed black;
    /* left: 20px;
    top: 20px;
    width: 100%; */
    /* height: 80%; */
    touch-action: none;
    z-index: 1;
  }
</style>
<main id="main">
  <section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Tanda Tangan Saya</li>
      </ol>
      <h2>Tanda Tangan Saya</h2>

    </div>
  </section>
  <!-- ======= Values Section ======= -->
  <section id="values" class="values mt-1">

    <div class="container">
      <div class="row">
        <!-- Content -->
        <div class="col-md-7">
          <div class="container">
            <div class="card box" style="padding: 36px !important;">
              <div class="row g-0">
                <div class="col-md-5">
                  <img src="/landing/img/signatures/documents.png" class="img-fluid rounded-start" alt="square">
                </div>
                <div class="col-md-5">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: left;"><b>ID Signature</b></h5>
                    <p class="card-text" style="margin-bottom: 4rem; text-align: left;">Serial Tanda
                      tangan<br>Penandatangan<br>Total
                      Digunakan</p>
                    <p style="text-align: left;">
                      <small style="color: #4154F1;">Terakhir Diakses<br>2 September 2022 | 19.30 WIB</small><br>
                      <small style="color: #ADB4F3;">Dibuat 19 Agustus 2022 | 19.30 WIB</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!-- <h1 style="text-align: center;color: #4154F1;"><b>List Tanda Tangan</b></h1> -->
          <div class="container">
            <div class="box" style="padding: 12px !important;">
              <div class="card-body">
                <img src="/landing/img/signatures/documents.png" alt="square" style="height: 100px;">
                <h5 class="card-title" style="margin-top: 0.05rem;"><b>Serial Tanda Tangan</b></h5>
                <small style="color: #ADB4F3;">Dibuat 19 Agustus 2022 | 19.30 WIB</small>
              </div>
            </div>
            <div class="box mt-3" style="padding: 12px !important;">
              <div class="card-body">
                <img src="/landing/img/signatures/documents.png" alt="square" style="height: 100px;">
                <h5 class="card-title" style="margin-top: 0.05rem;"><b>Serial Tanda Tangan</b></h5>
                <small style="color: #ADB4F3;">Dibuat 19 Agustus 2022 | 19.30 WIB</small>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container" style="margin-top: 5rem;margin-bottom: 5rem;">
          <hr style="border: solid 1px;">
        </div> -->

        <div class="container text-center" style="margin-top: 2rem;margin-bottom: 1rem;">
          <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#signmodal"
            style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);">
            Tambahkan Tanda Tangan
            <!-- <img src="../icon/note-plus.png" alt="note-plus"> -->
          </button>
        </div>

      </div>

    </div>

  </section>

  <!-- Modal -->
  <div class="modal fade" id="signmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width: 350px; height: 520px !important;">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body justify-content-md-center mb-4">
          <h5 style="text-align: center;"><b>Silahkan Masukkan Tanda Tangan!</b></h5>
          <div id="signature-pad">
            <canvas id="signbox" width="300" height="300" class="canvas rounded">
            </canvas>
          </div>
        </div>
        <div class="container text-center mb-4">
          <!-- <button class="btn blue" onclick="addSign()">Sign</button> -->
          <button class="btn blue" onclick="signBox.clear()">Clear</button>
          <button type="button" onclick="addSign()" class="btn btn-primary btn-lg"
            style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
            Tambahkan
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <!-- <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Pengguna</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Dokumen terverifikasi</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Dokumen Saya</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Permintaan</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <!-- End Counts Section -->
</main>
<script>
  var user = `{{ .user }}`;
</script>
<!-- End #main -->
{{ end }}