{{ define "content" }}

<style>
  .hidden {
    display: none;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
  }

  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
</style>

<style>
  .drop-zone-pdf {
    /* max-width: 400px; */
    height: 350px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    /* border: 4px dashed #5f61e6;
    border-radius: 10px; */
  }

  .drop-zone-pdf--over {
    border-style: solid;
  }

  .drop-zone-pdf__input {
    display: none;
  }

  .drop-zone-pdf__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }

  .drop-zone-pdf__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
</style>

<style>
  body {
    margin: 0;
    font-family: sans-serif;
    font-size: 0.9rem;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #toolbar {
    display: flex;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 0.5em;
  }

  #toolbar button,
  #page-mode input {
    color: currentColor;
    background-color: transparent;
    font: inherit;
    border: 1px solid currentColor;
    border-radius: 3px;
    padding: 0.25em 0.5em;
  }

  #toolbar button:hover,
  #toolbar button:focus,
  #page-mode input:hover,
  #page-mode input:focus {
    color: lightGreen;
  }

  #page-mode {
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em;
  }

  #viewport-container {
    flex: 1;
    background: #eee;
    overflow: auto;
  }

  #viewport {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #viewport>div {
    text-align: center;
    max-width: 100%;
  }

  #viewport canvas {
    width: 100%;
    box-shadow: 0 2px 5px gray;
  }
</style>
<!-- main -->
<main id="main">
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">Home</a></li>
        <li>My Signatures</li>
      </ol>
      <h2>My Signatures</h2>
    </div>
  </section>
  <!-- ======= Values Section ======= -->
  <section id="values" class="values" style="padding: 30px 0 !important;">
    <div class="container">
      <div class="row ">
        <!-- Section Changes -->
        <ul id="paginated-list" data-current-page="1" aria-live="polite">
          <!-- STEP 1 - Upload Documents -->
          <li>
            <div class="container text-center" style="width: 85% !important;">
              <div class="card"
                style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                <div class="card-body">
                  <div class="drop-zone-pdf">
                    <span class="drop-zone-pdf__prompt img-fluid"><img src="landing/img/signatures/documents.png"
                        alt="doc" class="img-fluid" style="size: 80%;"></span>
                    <img id="pdf_preview">
                    <input type="file" name="file" id="file doc" class="drop-zone-pdf__input" accept="application/pdf"
                      required>
                  </div>
                  <h5 class="card-title" id="titlenya" style="margin-top: 2rem;"><b>Silahkan upload dokumen terlebih
                      dahulu<br>untuk melakukan tanda tangan terhadap dokumen yang dipilih </b></h5>
                </div>
              </div>
            </div>
          </li>
          <!-- End Upload Documents -->

          <!-- STEP 2 - Lihat Documents -->
          <li>
            <div class="container text-center" style="width: 85% !important;">
              <div class="card"
                style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                <div class="card-body">
                  <div id="app">
                    <div role="toolbar" id="toolbar">
                      <div id="pager">
                        <button data-pager="prev">prev</button>
                        <button data-pager="next">next</button>
                      </div>
                      <div id="page-mode">
                        <label>Page Mode <input type="number" value="1" min="1" /></label>
                      </div>
                    </div>
                    <div id="viewport-container">
                      <div role="main" id="viewport"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- End Lihat Documents -->

          <!-- STEP 3 - Tanda Tangan Documents -->
          <li>
            <div class="container text-center" style="width: 85% !important;">
              <div class="card"
                style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                <div class="card-body">
                  <img src="landing/img/signatures/documents.png" alt="doc" class="img-fluid" style="size: 80%;">
                  <h5 class="card-title" style="margin-top: 2rem;"><b>STEP 3 </b></h5>
                </div>
              </div>
            </div>
          </li>
          <!-- End Tanda Tangan Documents -->

          <!-- STEP 4 - Undang Orang Lain -->
          <li>
            <div class="container text-center" style="width: 85% !important;">
              <div class="card"
                style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                <div class="card-body">
                  <img src="landing/img/signatures/documents.png" alt="doc" class="img-fluid" style="size: 80%;">
                  <h5 class="card-title" style="margin-top: 2rem;"><b>STEP 4 </b></h5>
                </div>
              </div>
            </div>
          </li>
          <!-- Undang Orang Lain -->
        </ul>
        <!-- End Section Changes -->

        <!-- Progress Bar -->
        <div class="my-5 container position-relative" style="width: 50%;">
          <div class="progress position-relative">
            <div class="progress-bar" role="progressbar" id="progress-page" style="width: 0%;" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-1"
            style="width: 35px; height: 35px; border: none; left: 0%;">1</button>
          <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-2"
            style="width: 35px; height: 35px; border: none; left: 33.3%;">2</button>
          <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-3"
            style="width: 35px; height: 35px; border: none; left: 66.6%;">3</button>
          <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-4"
            style="width: 35px; height: 35px; border: none; left: 99.9%;">4</button>
        </div>
        <!-- End Progress Bar -->

        <!-- Button back - next -->
        <div class="container mt-2 mb-4">
          <div class="row">
            <div class="col text-end">
              <button type="button" class="btn btn-primary btn-sm button-back pagination-button" id="prev-button"
                style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                Back
              </button>
            </div>
            <div id="pagination-numbers" class="hidden"></div>
            <div class="col text-start">
              <button type="button" class="btn btn-primary btn-sm button-next pagination-button" id="next-button"
                style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                Next
              </button>
            </div>
          </div>
        </div>
        <!-- End Button back next -->

      </div>
    </div>
  </section>
  <!-- End Values Section -->

</main>
<!-- End main -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script type="text/javascript" src="https://mozilla.github.io/pdf.js/build/pdf.worker.js"></script>
<!-- Import new PDFJS & Worker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
  integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js"
  integrity="sha512-lHibs5XrZL9hXP3Dhr/d2xJgPy91f2mhVAasrSbMkbmoTSm2Kz8DuSWszBLUg31v+BM6tSiHSqT72xwjaNvl0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/landing/js/pagination_sign.js"> </script>
<script src="/landing/js/uploadDoc.js"></script>
<script src="/landing/js/viewDoc.js"></script>
<!-- <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script> -->
<!-- End main -->
{{ end }}