{{ define "content" }}

<style>
  .Sign-Img {
    position: absolute !important;
    margin-left: 20px;
    padding: 20px;
    display: inline-block;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .Sign-Img img {
    max-width: 100%;
    height: auto;
  }

  .Sign-bdr {
    border: none !important;
  }
</style>

<style>
  .hide_page {
    display: none;
  }

  .step {
    white-space: nowrap;
    overflow: hidden;
  }

  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
</style>

<style>
  .drop-zone-pdf {
    /* max-width: 400px; */
    height: 350px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    /* border: 4px dashed #5f61e6;
    border-radius: 10px; */
  }

  .drop-zone-pdf--over {
    border-style: solid;
  }

  .drop-zone-pdf__input {
    display: none;
  }

  .drop-zone-pdf__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }

  .drop-zone-pdf__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
</style>

<!-- main -->
<main id="main">
  <section class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="/">Home</a></li>
        <li>My Signatures</li>
      </ol>
      <h2>My Signatures</h2>
    </div>
  </section>
  <!-- ======= Values Section ======= -->
  <section id="values" class="values" style="padding: 30px 0 !important;">
    <div class="container">
      <form action="/sign-documents" method="POST" enctype="multipart/form-data">
        <div class="row ">
          <!-- Section Changes -->
          <ul style="list-style: none;" id="paginated-list" data-current-page="1" aria-live="polite">
            <!-- STEP 1 - Upload Documents -->
            <li class="step">
              <div class="container text-center" style="width: 85% !important;">
                <div class="card"
                  style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                  <div class="card-body">
                    <div class="drop-zone-pdf">
                      <span class="drop-zone-pdf__prompt img-fluid"><img src="landing/img/signatures/documents.png"
                          alt="doc" class="img-fluid" style="size: 80%;"></span>
                      <img id="pdf_preview">
                      <input type="file" name="file" id="file doc" class="drop-zone-pdf__input" accept="application/pdf"
                        required>
                    </div>
                    <h5 class="card-title" id="titlenya" style="margin-top: 2rem;"><b>Silahkan upload dokumen terlebih
                        dahulu<br>untuk melakukan tanda tangan terhadap dokumen yang dipilih </b></h5>
                  </div>
                </div>
              </div>
            </li>
            <!-- End Upload Documents -->

            <!-- STEP 2 - Preview and Sign Documents -->
            <li class="step">
              <div class="container text-center" style="width: 60% !important;">
                <div class="card"
                  style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                  <div class="card-body">
                    <!-- PDF Viewer -->
                    <div class="row" style="position:relative;">
                      <!-- <div class="signatures" style="position: absolute"></div> -->
                      <canvas id="PDFSign"></canvas>
                      <div class="col-6 signing">
                        <i id="signBtn" class="btn btn-sm btn-primary" style="position:absolute; top:2%; left:87%"><a
                            onclick="sign(1)">sign</a></i>
                      </div>
                      <!-- Signature -->
                      {{ if eq .signatures.Signature_selected "signature" }}
                      <img src="/signatures/{{ .signatures.Signature }}" id="SignImg" class="hide_page Sign-Img-drag"
                        style="transform: translate(237.6px, 83.4552px); border: 2px dashed rgb(221, 221, 221); width: 245.175px; height: 165.512px;"
                        data-x="237.60023264735764" data-y="83.45521311610798">
                      {{ else if eq .signatures.Signature_selected "signature_data" }}
                      <img src="/signatures/{{ .signatures.Signature_data }}" id="SignImg"
                        class="hide_page Sign-Img-drag"
                        style="transform: translate(237.6px, 83.4552px); border: 2px dashed rgb(221, 221, 221); width: 245.175px; height: 165.512px;"
                        data-x="237.60023264735764" data-y="83.45521311610798">
                      {{ else if eq .signatures.Signature_selected "latin" }}
                      <img src="/signatures/{{ .signatures.Latin }}" id="SignImg" class="hide_page Sign-Img-drag"
                        style="transform: translate(237.6px, 83.4552px); border: 2px dashed rgb(221, 221, 221); width: 245.175px; height: 165.512px;"
                        data-x="237.60023264735764" data-y="83.45521311610798">
                      {{ else if eq .signatures.Signature_selected "latin_data" }}
                      <img src="/signatures/{{ .signatures.Latin_data }}" id="SignImg" class="hide_page Sign-Img-drag"
                        style="transform: translate(237.6px, 83.4552px); border: 2px dashed rgb(221, 221, 221); width: 245.175px; height: 165.512px;"
                        data-x="237.60023264735764" data-y="83.45521311610798">
                      {{ else }}
                      <img src="/signatures/signatures/default.png" id="SignImg" class="hide_page Sign-Img-drag"
                        style="transform: translate(237.6px, 83.4552px); border: 2px dashed rgb(221, 221, 221); width: 245.175px; height: 165.512px;"
                        data-x="237.60023264735764" data-y="83.45521311610798">
                      {{ end }}
                      <!-- End Signature -->
                    </div>
                    <!-- End PDF Viewer -->
                    <!-- Pagination PDF -->
                    <div class="row mx-auto mt-3">
                      <ul class="pagination bottom justify-content-center" style="list-style: none; display: flex;">
                        <li style="margin-right: 5px;" class="btn btn-primary disabled"><a onclick="prevPage()"><i
                              class="material-icons">left</i></a></li>
                        <li style="margin-right: 5px;" class="btn btn-primary active"><a
                            onclick="renderingPage(doc, 1)">1</a></li>
                        <li style="margin-right: 5px;" class="btn btn-primary disabled"><a onclick="nextPage()"><i
                              class="material-icons">right</i></a></li>
                      </ul>
                    </div>
                    <!-- End Pagination PDF -->
                    <input type="text" name="signPage" id="signPage" class="hide_page">
                    <input type="text" name="signX" id="signX" class="hide_page">
                    <input type="text" name="signY" id="signY" class="hide_page">
                    <input type="text" name="signH" id="signH" class="hide_page">
                    <input type="text" name="signW" id="signW" class="hide_page">
                  </div>
                </div>
              </div>
            </li>
            <!-- End Preview and Sign Documents -->

            <!-- STEP 3 - Preview Tanda Tangan Documents -->
            <li class="step">
              <div class="container text-center" style="width: 60% !important;">
                <div class="card"
                  style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                  <div class="card-body">
                    <h5 class="card-title" style="margin-top: 2rem;"><b>Sukses berhasil melakukan tanda tangan</b></h5>
                    <h5 class="card-title" style="margin-top: 4rem;"><b>Pilih selesai untuk menyimpan tanda tangan anda!</b></h5>
                  </div>
                </div>
              </div>
              <input type="text" name="invite_status" id="invite_status" class="hide_page" value="false">
            </li>
            <!-- End Preview Tanda Tangan Documents -->

            <!-- STEP 4 - Undang Orang Lain -->
            <li class="step">
              <div class="container text-center" style="width: 85% !important;">
                <div class="card"
                  style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
                  <div class="card-body">
                    <h5 class="card-title" style="margin-top: 2rem;"><b>Undang Orang lain untuk tanda tangan</b></h5>
                  </div>
                </div>
              </div>
              <input type="text" name="invite_status" id="invite_status" class="hide_page" value="true">
            </li>
            <!-- Undang Orang Lain -->
          </ul>
          <!-- End Section Changes -->

          <!-- Progress Bar -->
          <div class="my-5 container position-relative" style="width: 40%;">
            <div class="progress position-relative">
              <div class="progress-bar" role="progressbar" id="progress-page" style="width: 0%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-1"
              style="width: 35px; height: 35px; border: none; left: 0%;">1</button>
            <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-2"
              style="width: 35px; height: 35px; border: none; left: 50%;">2</button>
            <button class="position-absolute rounded-circle top-50 translate-middle" id="progress-button-3"
              style="width: 35px; height: 35px; border: none; left: 100%;">3</button>
          </div>
          <!-- End Progress Bar -->

          <!-- Button back - next -->
          <div class="container mt-2 mb-4">
            <div class="row">
              <div class="col text-end">
                <button type="button" class="btn btn-primary btn-sm button-back pagination-button" id="prev-button"
                  style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                  Back
                </button>
              </div>
              <div id="pagination-numbers" class="hide_page"></div>
              <div class="col text-start">
                <!-- <button type="button" class="btn btn-primary btn-sm button-next pagination-button" id="next-button"
                  style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                  Next
                </button> -->
                <div class="col text-start"><button type="button"
                    class="btn btn-primary btn-sm button-next pagination-button" id="next-button"
                    style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                    Next
                  </button>
                  <button type="submit" class="btn btn-primary btn-sm hide_page" id="submit" name="submit"
                    style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">Selesai</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Button back next -->

        </div>
      </form>
    </div>
  </section>
  <!-- End Values Section -->
  <!-- Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="invitesign" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Undang Orang Lain</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            style="border: none; background-color: white;" onclick="exitInvite()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Apakah anda ingin mengundang orang lain untuk melakukan tanda tangan?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" onclick="noInvite()">Tidak</button>
          <button type="button" class="btn btn-primary" onclick="yesInvite()">Ya</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</main>
<!-- End main -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script type="text/javascript" src="https://mozilla.github.io/pdf.js/build/pdf.worker.js"></script>
<!-- Import new PDFJS & Worker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
  integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js"
  integrity="sha512-lHibs5XrZL9hXP3Dhr/d2xJgPy91f2mhVAasrSbMkbmoTSm2Kz8DuSWszBLUg31v+BM6tSiHSqT72xwjaNvl0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/landing/js/pagination_sign.js"> </script>
<script src="/landing/js/uploadPDF.js"></script>
<script src="/landing/js/readerPDF.js"></script>
<!-- <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script> -->
<!-- End main -->
{{ end }}