{{ define "content" }}
<main id="main">
  <section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>My Signatures</li>
      </ol>
      <h2>My Signatures</h2>

    </div>
  </section>
  <!-- ======= Values Section ======= -->
  <section id="values" class="values mt-3">

    <div class="container">

      <!-- <header class="section-header">
          <p>Dashboard</p>
          <h4 class="text-justify"><br/>Hai, selamat datang Rizqi !</h4>
        </header> -->
      <div class="row">
        <!-- Content -->
        <div class="container text-center">
          <div class="card"
            style="border-radius: 15px;border: solid 1px blue;padding: 0.5rem;background-color: #F8F9FF;">
            <div class="card-body">
              <img src="/landing/img/signatures/documents.png" alt="doc" class="img-fluid" style="size: 80%;">
              <h5 class="card-title" style="margin-top: 2rem;"><b>Silahkan upload dokumen terlebih dahulu<br>untuk
                  melakukan tanda tangan terhadap dokumen yang dipilih </b></h5>
            </div>
          </div>
        </div>

        <div class="container mt-5 text-center">
          <h5>1. Unggah Dokumen (custom akan dibantu oleh backend)</h5>
        </div>

        <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col text-end">
              <button type="button" class="btn btn-primary btn-lg"
                style="border-radius: 24px;background-color: #4154F1;padding-left: 2rem;padding-right: 2rem;">
                Next
              </button>
            </div>
            <div class="col text-start">
              <button type="button" class="btn btn-primary btn-lg"
                style="border-radius: 24px;background-color: #8491FF;padding-left: 2rem;padding-right: 2rem;">
                Back
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <!-- <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Pengguna</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Dokumen terverifikasi</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Dokumen Saya</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-pen" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Total Permintaan</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <!-- End Counts Section -->
</main>
<!-- End #main -->
{{ end }}